<h2>Administration: Users</h2>
 <% if flash %>
   <div class="messages">
      <% flash.each do |cl, msg| %>
      <div class='alert alert-<%= cl %>'>
        <%= msg %>
      </div>
      <% end %>
    </div>
  <% end %>

<%= form_for(@user, as: "Users", html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :email,  "Account" %> <br>
    <%= f.email_field :email, disabled: true %>
  </div>

  <div class='field'>
    <%= f.label :primary_institution, 'Institituion' %> <br />
    <%= f.text_field :primary_institution %>
  </div>


  <% if current_user.admin? %>
  <div class='field form-check'>
    <%= f.check_box :approved %>
    <%= f.label :approved, "Approved?" %>
  </div>


  <div class="field form-check">
    <%= f.check_box :admin %>
    <%= f.label :admin, "Administrator?" %>
  </div> 
  <% end %>

  <% if current_user.admin? || current_user == @user %>
  <div class="actions">
    <%= f.submit "Update",class: 'btn btn-primary' %>
    <% if @user == current_user %>
      <form id="new_token" method="post" action="<%= @user.id %>/new_token">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button class="btn btn-warning">Generate New Access Token</button>
      </form> 
  <% end %>
  </div>
  <% end %>

<% end %>

 

