<%= content_for(:title, "TRLN Record : #{@doc.id}") %>
<div class="main">
  <div class="header <%= @doc.owner %>">
    <h1>ID: <%= @doc.id %><% if @doc.deleted? %>
    <span class='deleted'>( deleted )</span><% end %></h1>
    <h3>Local ID: <%= @doc.local_id %>
  </h3>
  </div>

  <%= link_to( "View Transaction", @doc.txn, class: 'btn btn-primary') %>
  <div class="metadata bibliographic">
    <dl>
      <dt>Title</dt>
       <dd>
        <dl>
          <dt>Main</dt>
          <dd><%= @content.title.main[0].value %></dd>
        </dl>
       </dd>
      <% if @content.authors and @content.authors.main %>
        <dt>Author(s)</dt>
          <% @content.authors.main.each do |author| %>
              <dd><%= author.name %></dd>
          <% end %>
      <% end %>
      <% if @content.isbn %>
      <dl>
        <dt>ISBN</dt>
        <% @content.isbn.each do |isbn| %>
          <dd><%= isbn %></dd>
         <% end %>
      </dl>
      <% end %>

      <% if @doc.respond_to?(:virtual_collection) && @doc.virtual_collection.first %>
       <dl>
         <dt>Collections</dt>
             <% @doc.virtual_collection.each do |coll| %>
             <dd>>%= coll %></dd>
             <% end %>
       </dl>
       <% end %>

    <% if @content.subjects %>

            <dt>Subjects</dt>
            <dd>
              <ul>
                <% @content.subjects.each do |subject| %>
                <li class="subject"><%= subject %></li>
                     <% end %>
              </ul>
            </dd>
    <% end %>
    </dl>
 
  <div id="argot-views">
    <h1>Document Views</h1>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#argot" aria-expanded="false" aria-controls="argot">
      <span class='visible'>Hide</span>
      <span class='hidden'>Show</span>
      Argot
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#enriched-view" aria-expanded="false" aria-controls="enriched-view">
      <span class='visible'>Hide</span>
      <span class='hidden'>Show</span>
      Enriched Argot (what Solr ingests)
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#solr-view" aria-expanded="false" aria-controls="solr-view">
      <span class='visible'>Hide</span>
      <span class='hidden'>Show</span>
      Solr Document
    </button>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target='#luke-view' aria-expanded='false' aria-controls='luke-view'>
      <span class='visible'>Hide</span>
      <span class='hidden'>Show</span>
      Advanced Solr View
    </button>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="argot enriched-view solr-view luke-view">
     <span class='visible'>Hide</span>
      <span class='hidden'>Show</span>
      All
    </button>
    <div id="argot" class="collapse multi-collapse">
      <div class="card card-body">
        <h1>Argot (<%= link_to('Link', :format => :json) %>)</h1>
        <span class='detail'>Currently Stored</span>
        <code><pre><%= pretty_json(@doc.content) %></pre></code>
      </div>
    </div>

    <div id="enriched-view" class="collapse multi-collapse">
      <div class="card card-body">
        <h1>Enriched Content (what gets sent to Solr)</h1>
        <span class="detail">Generated at Indexing time</span>
        <code><pre><%= pretty_json(@enriched) %></pre></code>
      </div>
    </div>
    

    <div id="solr-view" class="collapse multi-collapse">
      <h1>Current Solr Content</h1>
      <span class='detail'>Data currently in shared index</span>
      <div class="card card-body">
        <code><pre><%= pretty_json(@solr) %></pre></code>
      </div>
    </div>

    <div id="luke-view" class="collapse multi-collapse">
      <h1>Advanced Solr Index View</h1>
      <span class='detail'>Analyzed field content in Solr index</span>
      <div class="card card-body">
        <code><pre><%= pretty_json(@luke) %></pre></code>
      </div>
    </div>

  </section>
  </div>
</div>