<%= content_for(:title, "TRLN Record : #{@doc.id}") %>
<div class="main">
  <div class="header <%= @doc.owner %>">
      <h1>ID: <%= @doc.id %><% if @doc.deleted? %>
      <span class='deleted'>( deleted )</span><% end %></h1>
  </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><%= link_to( "View Transaction", @doc.txn, class: 'btn btn-primary text-white') %></h3>
      </div>
    </div>

  <div class="card metadata bibliographic">

    <div class="card-body">
      <h3 class="card-title"><%= main_title(@content) %></h3>
      <h5 class="card-subtitle mb-2 text-muted">Last Updated: <%= @doc.updated_at.in_time_zone.strftime("%a, %b %d, %Y @ %I:%M %P") %> (<%= @doc.updated_at.in_time_zone %>)</h5>
      <h5 class="card-subtitle mb-2 text-muted">Source: <%= @content.record_data_source&.join(',') %></h5>
	<% if @content.rollup_id %>
      <h5 class="card-subtitle mb-2 text-muted">Rollup ID: <%= @content.rollup_id %></h5>
	<% end %>
      <h5 class="card-subtitle mb-2 text-muted">Availability: <%= @content.available || '(not avaialable)' %></h5>

     <% if @content.items %>
	<h6 class="card-subtitle text-muted"><%= pluralize(@content.items.length, 'item') %></h6>
     <% end %>

    <div class="basic-props">

     <dl>
	<dt>Access Type</dt>
	<% @content.access_type&.each do |t| %>
	  <dd><%= t %>
	<% end %> 
	</dl>
     <dl>
	<dt>Resource Type</dt>
	<% @content.resource_type&.each do |t| %>
	  <dd><%= t %>
	<% end %>
     </dl>
<dl>
	<dt>Physical Media</dt>
	<% @content.physical_media&.each do |pm| %>
	  <dd><%= pm %></dd>
	<% end %>
	</dl>
	<dl>
	
	<dt>Institutions</dt>
	<% @content.institution&.each do |i| %>
          <dd><%= i %></dd>
	<% end %>
     </dl>
	</div>
    

      <% if @content.virtual_collection && @content.virtual_collection.try(:first) %>
      <ul>
        <% @content.virtual_collection.each do |coll| %>
        <li><%= coll %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
 
  <div class="card" id="argot-views">
    <div class="card-body">
      <h3 class="card-title">Document Views</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#argot" aria-expanded="true" aria-controls="argot">
      <span class='visible'>Hide</span>
      <span class='hidden'>Show</span>
      Argot
    </button>
  </li>
      <li class="list-group-item">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#enriched-view" aria-expanded="false" aria-controls="enriched-view">
      <span class='visible'>Hide</span>
      <span class='hidden'>Show</span>
      Enriched Argot (what Solr ingests)
    </button>
  </li>
        <li class="list-group-item">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#solr-view" aria-expanded="false" aria-controls="solr-view">
      <span class='visible'>Hide</span>
      <span class='hidden'>Show</span>
      Solr Document
    </button></li>

    <li class="list-group-item">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="argot enriched-view solr-view luke-view">
     <span class='visible'>Hide</span>
      <span class='hidden'>Show</span>
      All
    </button>
  </li>

    <div id="argot" class="collapse multi-collapse show">
      <h3>Argot (<%= link_to('download', controller: 'documents', action: 'show', id: @doc.id, format: :json) %>)</h3>
      <span class='detail'>Currently Stored</span>
      <code><pre><%= pretty_json(@doc.content) %></pre></code>
    </div>
  
  </div>

    <div id="enriched-view" class="collapse multi-collapse">
      <h3>Enriched Content (what gets sent to Solr)</h3>
      <span class="detail">Generated at Indexing time</span>
      <code><pre><%= pretty_json(@enriched) %></pre></code>
    </div>
    

    <div id="solr-view" class="collapse multi-collapse">
      <h1>Current Solr Content</h1>
      <span class='detail'>Data currently in shared index</span>
        <code><pre><%= pretty_json(@solr) %></pre></code>
      </div>
    </div>
  </div>
</div>
