<%= content_for(:title, "TRLN Record : #{@doc.id}") %>
<div class="main">
  <div class="header <%= @doc.owner %>">
    <h1>ID: <%= @doc.id %></h1>
    <h3>Local ID: <%= @doc.local_id %></h3>
  </div>
  
  <%= link_to( "View Transaction", @doc.txn, class: 'btn btn-primary') %>
  <div class="metadata bibliographic">
    <dl>
      <dt>Title</dt>
       <dd>
        <dl>
          <dt>Main</dt>
          <dd><%= @content.title.main[0].value %></dd>
        </dl>
       </dd>
      <% if @content.authors and @content.authors.main %>
        <dt>Author(s)</dt>
          <% @content.authors.main.each do |author| %>
              <dd><%= author.name %></dd>
          <% end %>
      <% end %>
      <% if @content.isbn %>
      <dl>
        <dt>ISBN</dt>
        <% @content.isbn.each do |isbn| %>
          <dd><%= isbn %></dd>
         <% end %>
      </dl>
      <% end %>

      <% if @doc.respond_to?(:virtual_collection) && @doc.virtual_collection.first %>
       <dl>
         <dt>Collections</dt>
             <% @doc.virtual_collection.each do |coll| %>
             <dd>>%= coll %></dd>
             <% end %>
       </dl>
       <% end %>

    <% if @content.subjects %>

            <dt>Subjects</dt>
            <dd>
              <ul>
                <% @content.subjects.each do |subject| %>
                <li class="subject"><%= subject %></li>
                     <% end %>
              </ul>
            </dd>
    <% end %>
    </dl>
  <%= link_to('Argot/JSON format', :format => :json) %>

    <pre><%= pretty_json(@doc)  %></pre>
  </div>
</div>