<% if user_signed_in? %>
 <nav class='navbar navbar-expand-lg bg-secondary text-white'>
 	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 	<div class='collapse navbar-collapse' id='navbarNav'>
		<ul class="navbar-nav mr-auto">
 			<li class='nav-item'><a class='nav-link text-white' href='/'>Home <span class='sr-only'>(current)</span></a></li>
 			<li class='nav-item'><%= link_to('My Account', '/trln/users/me', class: 'nav-link text-white') %></li>
 			<li class="nav-item"><%= link_to('Name Authority', '/nameauthority', class: 'nav-link text-white') %></li>
			<li class='nav-item active'><%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link text-white') %></li>
			<li class='nav-item'><%= link_to('Dashboard', '/dashboard', class: 'nav-link text-white') %></li>
	
			<% if current_user.admin? %>
				<li class='nav-item'><%= link_to('Manage Users', {controller: 'users', action: 'index'}, {class: 'nav-link text-white'}) %></li>
 			<% end %>


 			<li class="nav-item dropdown">
 				<a class='nav-link dropdown-toggle text-white' href='#' id="aboutDropdown" role="button" data-toggle='dropdown' 
 				 	aria-haspopup='true' aria-expanded='false'>
 				 	About
 				 </a>
 				<div class="dropdown-menu" aria-labelledby='aboutDropdown' id='about-dropdown'>
 	  	  			<a class='dropdown-item disabled'>Spofford Version: <%= Spofford::VERSION %></a>
	      			<a class='dropdown-item disabled'>Argot Version: <%= Argot::VERSION %></a>
	      		</div>
			</li>
			<form action='<%= url_for(controller: 'documents', action: 'search')%>' method='GET' class='form-inline m-2 my-lg-0'>
   			<input type='text' size='16' maxlength='32' name='id' id='id' onchange='this.form.submit()'
   				class='form-control mr-sm-2' 
   				placeholder='record unique id' aria-label='record unique id'>
   				<button class='btn btn-primary my-2 my-sm-0' type='submit'>Find Record</button>

   			</form>
   

 		</ul>
 	</div>
</nav>
<% end %>
