<%= content_for(:title, "TRLN Ingest: Recent Updates") %>
<div class="docsearch">
 <form action='<%= url_for(controller: 'documents', action: 'search')%>' method='GET'>
   <label>Search for record: <input type='text' size='16' maxlength='32' name='id', id='id' onchange='this.form.submit;'></label>
   <button class='btn btn-primary'>Find Record</button>
   </form>
   <div class="argot-version">
     Argot Version: <%= Argot::VERSION %>
   </div>
 </div>

<table class="table transactions">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Time</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr class="transaction">
        <td class='owner <%= transaction.owner %>'><%= transaction.owner %></td>
        <td><%= local_time transaction.created_at %> <br />
          (<%= time_ago_in_words transaction.created_at %> ago)</td>
        <td><%= transaction.user %></td>
        <td><%= transaction.status %></td>
        <td><%= link_to 'View', transaction, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
       <td colspan='5'>
      <%= will_paginate @transactions %>
    </td>
    </tr>
    <tr>
      <td colspan='5'>
        <%= page_entries_info(@transactions, model: 'transactions') %>
      </td>
    </tr>
  </tfoot>
</table>
