<p id="notice"><%= notice %></p>

<h1>Recent Packages</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Time</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.owner %></td>
        <td><%= transaction.created_at %></td>
        <td><%= transaction.user %></td>
        <td><%= transaction.status %></td>
        <td><%= link_to 'Show', transaction %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Upload Ingest Package', new_transaction_path %>
