<%= content_for(:title, "TRLN Ingest: Recent Updates") %>


<div class="alert alert-secondary" role="alert">
<% if @filtered %> 
  Viewing transactions only from your primary institution.
    <%= link_to("See all transactions", '/?view=all', class: "alert-link" ) %>
  <% else %>
     Viewing transactions from all institutions.
   <%= link_to("See only your institution's transactions", '/', class: "alert-link") %>
    
<% end %>
</div>

<table class="table transactions">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Time</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @transactions.each do |transaction| %>
      <tr class="transaction">
        <td class='owner <%= transaction.owner.downcase %>'><%= transaction.owner.upcase %></td>
        <td><%= local_time transaction.created_at %> <br />
          (<%= time_ago_in_words transaction.created_at %> ago)</td>
        <td><%= transaction.user ? transaction.user.username : '<nope>' %></td>
        <td><%= transaction.status %></td>
        <td><%= link_to 'View', transaction, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
       <td colspan='5'>
      <%= will_paginate @transactions %>
    </td>
    </tr>
    <tr>
      <td colspan='5'>
        <%= page_entries_info(@transactions, model: 'transactions') %>
      </td>
    </tr>
  </tfoot>
</table>
