<%= content_for(:title, "TRLN Ingest Package : #{@transaction.id}") %>
<div class="transaction header <%= @transaction.owner.downcase %>">
  <h1><%= @transaction.owner.upcase %></h1>
  <h3>Tag: <%= @transaction.tag %></h3>
  <h4>Documents: <span><%= @document_ids.length || 0 %></span></h4>
</div>

<div class="row">
  <div class="col-sm-12">
  <div class="card center">
    <div class="card-header">
        Initiator: <%= @transaction.user.username || "unknown" %> at <span class="text-muted"><%= local_time @transaction.created_at %></span>
        Status: <span class="badge badge-<%= status_label_class(@transaction) %>"><%= @transaction.status || "(??)" %></span>
      </div>
      <div class="card-body">
          <h3 class="text-muted"><%= status_description(@transaction) %></h3>
          <% unless @document_ids.empty? %>
          <hr>
          <%= render "show_documents" %>
          <hr>
      <div class="txn-actions">
        <% if %w[Complete Indexing].include?(@transaction.status) %>
          <% if @transaction.status == 'Indexing' %>
            <p class="text-warning">Current status is 'Indexing', which may mean another indexing process
              is already running.  It would be a bad idea to reindex if so.  Only click this button if you're
                sure.
            </p>
          <% else %>
            <%= form_for @transaction, url: url_for(action: 'archive'), method: :post do |f| %>
                  <% f.submit 'Archive', class: 'btn btn-outline-secondary', title: 'compacts the files' %>
                <% end %>
          <% end %>
          <%= form_for @transaction, :url => url_for(:action => 'start_index'), :method => :post do |f| %> 
            <% f.submit 'Reindex', class: 'btn btn-outline-warning' %>
          <% end %>
      <% end %>
      </div>
    <% else %>
      <%= render partial: "show_nodocs" %>
    <% end %>
        </div>
    </div>
  </div>
</div>

 
 <%= render "show_files" %>


<%= link_to 'Back', transactions_path %>
