<p id="notice"><%= notice %></p>

<div class="transaction header <%= @transaction.owner.downcase %>">
  <h1><%= @transaction.owner.upcase %></h1>
  <h3>Tag: <%= @transaction.tag %></h3>
  <h4>Documents: <span><%= @document_ids.length || 0 %></span></h4>
</div>

<p>
  <strong>Initiated By:</strong>
  <%= @transaction.user || "unknown" %> at <%= local_time @transaction.created_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status || "(not determined)" %>
</p>

 <% if @document_ids.empty? %>
	<p>There are currently no records associated with this batch, probably because:</p>
	<% if @transaction.status == 'Ingesting' %>
	 <p class="text-notice">
	 	ingest is still ongoing.
	 </p>
	 <% elsif @transaction.status == 'Complete' %>
	 <p class='text-notice'>
   		the records have all been updated since it was initially submitted.
   	</p>
   	<% else %>
   	 <p class="text-warning">
   	 	... we're not sure, really.
   	 </p>
   	 <% end %>

 <% else %>
  <% if %w[Complete Indexing].include?(@transaction.status) %>
    <% if @transaction.status == 'Indexing' %>
      <p class="text-warning">Current status is 'Indexing', which may mean another indexing process
      	 is already running.  It would be a bad idea to reindex if so.  Only click this button if you're
      	 sure.
      	</p>
      	<% end %>
   <%= form_for @transaction, :url => url_for(:action => 'start_index'), :method => :post do |f| %> 
    <% f.submit 'Reindex' %>
   <% end %>
  <% end %>
<% end %>
</p>
  <div class="documents">
    <label>View Records: <input list="document_ids" name='nosubmit' id='nosubmit' onchange='window.location="<%= url_for(controller:'documents', trailing_slash: 1) %>" + this.value;'></label>
    <datalist id='document_ids'>
      <% @document_ids.each do |did| %>
      <option value='<%= did.id %>'>
      <% end %>
   </datalist>
   <p>Note that later transactions may update a document, so this list will change over time.</p>
 </div>

  <p>
  <strong>Files:</strong>
   <ul>
     <% @transaction.files.each do |f| %>
      <li><%= File.basename(f) %> : <%= File.exist?(f) ? number_to_human_size(File.size(f)) : '(missing)' %></li>

     <% end %>
   </ul>
</p>
<% unless @transaction.error_files.empty? %>
<div class="note">
  <h1>Errors</h1>
  <p>Not all records that were sumbitted could be ingested:</p>
  <ul>
    <% @transaction.errors.each do |err| %>
      <li>[ <%= err['id'] %> ] : <%= err['msg'] %></li>
    <% end %>
  </ul>
</div>
 <% end %>
  <%= link_to 'Back', transactions_path %>
